.nft-marketplace-buttons {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    align-items: center; /* Center the button vertically, if needed */
}

.nft-marketplace-buttons .nft-button {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    color: inherit; /* Button text color */
    transition: transform 0.3s ease, background-color 0.3s ease; /* Add transition for animation */
}

.nft-marketplace-buttons .nft-button svg {
    height: 24px; /* Adjusted size */
    margin-right: 8px;
}

.nft-marketplace-buttons .nft-button .nft-icon {
    display: flex;
    align-items: center;
}

.nft-marketplace-buttons .nft-button .nft-icon img {
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.nft-marketplace-buttons .nft-button .buy-text {
    color: black;  /* Text color for "Buy on" */
    margin-right: 8px;  /* Space between text and icon */
}

.nft-marketplace-buttons .nft-button:hover {
    transform: scale(1.05);
    /* Slightly enlarge the button */
    background-color: #f0f0f0;
    /* Change background color on hover */
}
